h1{
    font-family: 'Courier New', Courier, monospace;
    color:blue
}

#perros {
    color:red;
    border: 5px; border-style: dotted;
}

.estiloCompartido {
    color:white;
    border: 5px; border-style: solid;
    font-family: 'Courier New', Courier, monospace;
}
p{
    color:blue;
    border: 1px; border-style: solid;
}

pre {
    color: rgb(300, 25, 0)
}
